<template>
    <h1>Assign Clubs</h1>

    <button click.delegate="assignClubsClicked()">Assign Clubs</button>

    <table if.bind="clubbers" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Club Name</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="clubber of clubbers">
                <td>${ clubber.firstName } ${ clubber.lastName }</td>
                <td>${ clubber.clubName }</td>
            </tr>
        </tbody>
    </table>
</template>
