<template>
    <require from="../date-format"></require>
    <require from="../grade-format"></require>

    <h1>Assign Clubs</h1>

    <div class="alert alert-danger" if.bind="errorMessage">
        ${errorMessage}
    </div>

    <div class="spinner" if.bind="isWorking">
        <i class="glyphicon glyphicon-time"></i>
        Please wait...
    </div>

    <div class="alert alert-success" if.bind="success">
        Clubs were succesfully assigned.
    </div>

    <button if.bind="!previewList && !isWorking" class="btn btn-default" click.delegate="previewClicked()">Preview Assignments</button>

    <form if.bind="previewList">
        <p if.bind="changeCount > 0">
            <button class="btn btn-primary" click.delegate="applyChangesClicked()">Apply Selected</button>
            <a href="" click.delegate="cancelClicked()">Cancel</a>
        </p>
    </form>

    <p if.bind="previewList">
        <button class="btn btn-sm" click.delegate="checkAll()">Check all</button>
    </p>
    <table if.bind="previewList" class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Age</th>
                <th>Birth Date</th>
                <th>Grade</th>
                <th>Gender</th>
                <th>Old Club</th>
                <th>New Club</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="clubber of previewList" class="">
                <td><input type="checkbox" checked.bind="clubber.applyChange" if.bind="clubber.isChange" /></td>
                <td>${ clubber.firstName } ${ clubber.lastName }</td>
                <td>${ clubber.age }</td>
                <td>${ clubber.birthDate | dateFormat }</td>
                <td>${ clubber.grade | gradeFormat }</td>
                <td>${ clubber.gender }</td>
                <td>${ clubber.oldClubName }</td>
                <td>
                    ${ clubber.newClubName }
                    <span if.bind="clubber.isChange" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                </td>
            </tr>
        </tbody>
    </table>
</template>
